* {
    margin: 0;
    padding: 0;
}

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header {
    border-radius: 2vh;
    margin-top: 1vh;
    margin-left: 5vh;
    display: flex;
    height: 80vh;
    position: fixed;
    width: 18vh;
    top: 0;
    flex-direction: column;
    z-index: 1000;
    border: #fff solid 1px;
}

.ul-gen {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    color: #fff;
    flex-direction: column;
    display:flex;
    justify-content: space-around;
}

.ul-gen ol {
    margin-bottom: 6vh;
    align-self: center;
}

.logo-left {
    height: 8vh;
    width: auto;
    align-self: center;
    transition: all 1s ease;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.logo-left:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 1s ease;
}

body{
    background-color: #000;
}

.ssgen {
    text-decoration: none;
    color: #fff;
    transition: all 1s ease;
}

.ssgen:hover {
    color: #9136A1;
    transition: all 1s ease;
}

footer {
    display: flex;
    margin-left: 30vh;
    height: 40vh;
    width: 70%;
    margin-top: auto;
    background-color: #8E7290;
    border: #fff solid 1px;
    border-radius: 2vh;
}

#content {
    /*width: 70%;*/
    height: 700vh;
    display: block;
    /*margin-left: 30vh;*/
    border-radius: 2vh;
    /*margin-top: 4vh;*/
}

.index-div1 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    background-color: #000;
    height: auto;
}

.inddiv11 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    border-left: #fff solid 1px;
    border-top: #fff solid 1px;
    border-top-left-radius: 2vh;
}

.inddiv11 h2 {
    font-size: 10vh;
    color: #fff;
}

.inddiv12 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    padding: 1vh;
    border-right: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-bottom-right-radius: 2vh;
}

.inddiv12 p {
    font-size: 2.5vh;
    color: #fff;
}

.index-div2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    border: #fff dashed 1px;
    padding: 2vh;
    color: #fff;
}

.index-div2 dl{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.index-div2 dd{
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.index-div2 h2{
    margin-bottom: 2vh;
    align-self: center;
    font-size: 3vh;
}

.index-div2 p{
    margin-bottom: 1vh;
    font-size: 2vh;
}

.index-div2 dt {
    font-weight: bold;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.index-div2 dd {
    font-size: 1.5vh;
}

.index-div3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    background-color: #181419;
    border-radius: 2vh;
    border: gold solid 1px;
    padding: 2vh;
    color: #fff;
}

.index-div3 h2{
    align-self: center;
    margin-bottom: 2vh;
}

.index-div3 p{
    margin-bottom: 2vh;
}

.index-div3 li{
    margin-bottom: 1vh;
}

.index-div4 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    background-color: #181419;
    border-radius: 2vh;
    border: gold solid 1px;
    padding: 2vh;
    color: #fff;
}

.index-div4 h2{
    align-self: center;
    margin-bottom: 2vh;
}

.index-div4 p{
    line-height: 2.7vh;
}

.index-divdob {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    padding: 2vh;
    color: #fff;
}

.index-divdob .inf-ugol {
    align-self: center;
}

.index-photo {
    background-image: url('/static/base/img/photo-index.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.index-gen {
    width: 70%;
    margin-left: 30vh;
}

.index-div-photo1 {
    width: 30vw;
    height: 10vh;
    margin-left: 20vw;
    margin-top: 10vh;
    display: flex;
    position: absolute;
}

.index-div-photo1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 10vh;
    color: #fff;
    font-weight: 600;
    justify-content: center;
    align-self: center;
}

.index-div-photo2 {
    width: 30vw;
    height: 10vh;
    margin-left: 70vw;
    margin-top: 80vh;
    display: flex;
    position: absolute;
}

.index-div-photo2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
    color: #fff;
    justify-content: center;
    align-self: center;
}

.photo-div1 {
    background-image: url('/static/base/img/pod-div1.png');
    background-attachment: fixed;
    background-size: cover;
    filter: blur(1px);
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.inf-ugol {
    padding-bottom: 1vh;
    border-bottom: #fff solid 1px;
}

.index-divdob1 {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob1-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob1-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob1-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob1-photo {
    background-image: url('/static/base/img/fundament.jpg');
    margin-left: 20vw;
    height: 40vh;
    width: 50vw;
}