* {
    margin: 0;
    padding: 0;
}

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header {
    font-family: "Montserrat", sans-serif;
    margin-top: 8vh;
    margin-left: 2vh;
    display: flex;
    height: 70vh;
    position: fixed;
    border-radius: 1vw;
    width: 9vw;
    flex-direction: column;
    z-index: 1000;
    border: #fff solid 2px;
}

.ul-gen {
    font-size: 2vh;
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-gen p {
    margin-bottom: 6vh;
}

.logo-left {
    height: 8vh;
    width: auto;
    align-self: center;
    transition: all 1s ease;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.logo-left:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 1s ease;
}

body{
    background-color: #000;
}

.ssgen {
    text-decoration: none;
    color: #fff;
    transition: all 1s ease;
}

.ssgen:hover {
    color: #818181;
    transition: all 1s ease;
}

footer {
    display: flex;
    margin-left: 25vh;
    height: 40vh;
    width: 75%;
    margin-top: auto;
    border-top: #fff solid 1px;
}

#content {
    /*width: 70%;*/
    height: 700vh;
    display: block;
    /*margin-left: 30vh;*/
    border-radius: 2vh;
    /*margin-top: 4vh;*/
}

.index-div1 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    background-color: #000;
    height: auto;
}

.inddiv11 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    border-left: #fff solid 1px;
    border-top: #fff solid 1px;
}

.inddiv11 h2 {
    font-size: 10vh;
    color: #fff;
}

.inddiv12 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    padding: 1vh;
    border-right: #fff solid 1px;
    border-bottom: #fff solid 1px;
}

.inddiv12 p {
    font-size: 2.5vh;
    color: #fff;
}

.index-div2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    border: #fff solid 1px;
    padding: 2vh;
    color: #fff;
}

.index-div2 dl{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.index-div2 dd{
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.index-div2 h2{
    margin-bottom: 2vh;
    align-self: center;
    font-size: 3vh;
}

.index-div2 p{
    margin-bottom: 1vh;
    font-size: 2vh;
}

.index-div2 dt {
    font-size: 2vh;
    margin-bottom: 2vh;
}

.index-div2 dd {
    font-size: 1.5vh;
}

.index-div3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 10vh;
    padding-bottom: 5vh;
    flex-direction: column;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    padding-top: 10vh;
    background-color: #000;
    color: #fff;
}

.photo-div3 img {
    max-width: 70%;
    margin-top: 2vh;
    max-height: 70%;
    margin-left: 40vw;
    position: absolute;
    z-index: 0;
}

.index-div3 h2 {
    align-self: self-end;
    margin-top: -5vh;
    font-weight: 800;
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #777777, #fff);
    color: transparent;
    font-size: 4vh;
}

.index-div3 p {
    margin-bottom: 2vh;
}

.index-div3 p {
    margin-bottom: 1vh;
}

.limyi {
    font-family: "Montserrat", sans-serif;
    border-bottom: #262626 solid 4px;
    margin-bottom: 3.5vh;
    max-width: 50%;
}

.limyi p {
    max-width: 20vw;
    font-size: 1.7vh;
    opacity: 60%;
    margin-bottom: 3vh;
}

.limyi h3 {
    margin-bottom: 3vh;
    font-weight: 500;
    font-size: 2.7vh;
}

.index-div4 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    padding: 2vh;
    color: #fff;
    margin-bottom: 3vh;
}

.index-div4 h2 {
    align-self: center;
    margin-bottom: 2vh;
    font-size: 5vh;
}

.index-div4 p {
    line-height: 2.7vh;
    font-size: 2vh;
    align-self: center;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.index-divdob {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    padding: 2vh;
    color: #fff;
}

.index-divdob .inf-ugol {
    align-self: center;
}

.index-photo {
    background-image: url('/static/base/img/photo-index.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.index-gen {
    width: 70%;
    margin-left: 30vh;
}

.index-div-photo1 {
    width: 30vw;
    height: 10vh;
    margin-left: 20vw;
    margin-top: 10vh;
    display: flex;
    position: absolute;
}

.index-div-photo1 p {
    letter-spacing: 0.1em;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    position: fixed;
    border: 2px solid #fff;
    margin-left: 67vw;
    font-size: 5vh;
    padding: 3vh;
    font-weight: 600;
    border-radius: 1vh;
    align-self: center;
}

.index-div-photo2 {
    width: 30vw;
    height: 10vh;
    margin-left: 70vw;
    margin-top: 80vh;
    display: flex;
    position: absolute;
}

.index-div-photo2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
    color: #fff;
    justify-content: center;
    align-self: center;
}

.photo-div1 {
    background-image: url('/static/base/img/pod-div1.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.inf-ugol {
    padding-bottom: 1vh;
    border-bottom: #fff solid 1px;
}

.index-divdob1 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob1-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob1-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob1-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob1-photo {
    background-image: url('/static/base/img/fundament.jpg');
    margin-left: 20vw;
    height: 40vh;
    width: 50vw;
}

.index-divdob1:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob2 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob2-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob2-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob2-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob2-photo {
    background-image: url('/static/base/img/drenaj.png');
    margin-left: 20vw;
    height: 40vh;
    width: 50vw;
}

.index-divdob2:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob3 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob3-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob3-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob3-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob3-photo {
    background-image: url('/static/base/img/bet-pol.jpg');
    margin-left: 20vw;
    height: 40vh;
    width: 50vw;
}

.index-divdob3:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob4 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob4-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob4-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob4-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob4-photo {
    background-image: url('/static/base/img/steni.jpg');
    margin-left: 20vw;
    height: 40vh;
    width: 50vw;
}

.index-divdob4:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.div-znach h3 {
    text-align: center;
}

.znach4 {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    color: #fff;
    justify-content: space-around;
    justify-items: center;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
}

.div-znach {
    flex-direction: column;
    justify-content: center;
}

.div-znach p {
    line-height: 1;
}

.index-gen {
    font-family: "Montserrat", sans-serif;
}

.znach4:hover {
    transition: all 0.7s ease;
    background-color: #262626;
}