* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header {
    font-family: "Montserrat", sans-serif;
    margin-top: 8vh;
    margin-left: 2vh;
    filter: drop-shadow(0 0 0.04rem white);
    display: flex;
    height: 70vh;
    position: fixed;
    border-radius: 0.5vw;
    width: 9vw;
    flex-direction: column;
    z-index: 1000;
    border: #fff solid 2px;
}

.ul-gen {
    font-size: 2vh;
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-gen p {
    margin-bottom: 6vh;
}

.logo-left {
    height: 8vh;
    width: auto;
    align-self: center;
    transition: all 1s ease;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.logo-left:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 1s ease;
}

body{
    background-color: #000;
}

.ssgen {
    text-decoration: none;
    color: #fff;
    transition: all 1s ease;
}

.ssgen:hover {
    color: #818181;
    transition: all 1s ease;
}

footer {
    margin-left: 12vw;
    margin-top: auto;
    width: 76vw;
    border-top: #fff solid 1px;
}

#content {
    /*width: 70%;*/
    display: block;
    /*margin-left: 30vh;*/
    border-radius: 2vh;
    /*margin-top: 4vh;*/
}

.index-div1 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    background-color: #000;
    height: auto;
}

.inddiv11 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    border-left: #fff solid 1px;
    border-top: #fff solid 1px;
}

.inddiv11 h2 {
    font-size: 10vh;
    color: #fff;
}

.inddiv12 {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40vh;
    display: flex;
    padding: 1vh;
    border-right: #fff solid 1px;
    border-bottom: #fff solid 1px;
}

.inddiv12 p {
    font-size: 2.5vh;
    color: #fff;
}

.inddiv12 p::after {
    content: "Мы — строительная компания с многолетним опытом, предоставляющая полный спектр строительных и ремонтных услуг. Наша команда профессионалов помогает реализовать любые проекты, от небольших косметических ремонтов до возведения крупных объектов. Мы не только строим дома, но и делаем их уютными и функциональными.";
}

.index-div2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    border: #fff solid 1px;
    padding: 2vh;
    color: #fff;
}

.index-div2 dl{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.index-div2 dd{
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
    font-size: 2vh;
    font-weight: 300;
}

.index-div2 h2{
    margin-bottom: 2vh;
    align-self: center;
    font-size: 3vh;
}


.index-div2 dt {
    font-size: 2.5vh;
    margin-bottom: 2vh;
    font-weight: 500;
}

.index-div3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 10vh;
    padding-bottom: 5vh;
    flex-direction: column;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    padding-top: 10vh;
    background-color: #000;
    color: #fff;
}

.photo-div3 img {
    max-width: 70%;
    margin-top: 13vh;
    max-height: 70%;
    margin-left: 33vw;
    position: absolute;
    filter: drop-shadow(1vw 1vw 0.9rem snow);
    z-index: 0;
}

.index-div3 h2 {
    align-self: self-end;
    margin-top: -5vh;
    font-weight: 800;
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #777777, #fff);
    color: transparent;
    font-size: 4vh;
}

.index-div3 p {
    margin-bottom: 2vh;
}

.index-div3 p {
    margin-bottom: 1vh;
}

.limyi {
    font-family: "Montserrat", sans-serif;
    border-bottom: #262626 solid 4px;
    margin-bottom: 3.5vh;
    max-width: 50%;
}

.limyi p {
    max-width: 20vw;
    font-size: 1.7vh;
    opacity: 60%;
    margin-bottom: 3vh;
}

.limyi h3 {
    margin-bottom: 3vh;
    font-weight: 500;
    font-size: 2.7vh;
}

.index-div4 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 5vh;
    width: 75vw;
    flex-direction: column;
    padding: 2vh;
    color: #fff;
    margin-bottom: 3vh;
}

.index-div4 h2 {
    align-self: center;
    margin-bottom: 2vh;
    font-size: 5vh;
}

.index-div4 p {
    line-height: 2.7vh;
    font-size: 2vh;
    align-self: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.ind-div4::after {
    content: "Мы всегда готовы ответить на любые ваши вопросы и помочь в реализации вашего проекта. Независимо от того, строите ли вы дом мечты или просто планируете ремонт, мы обеспечим профессиональный подход на всех этапах работы. Доверьте строительство и ремонт профессионалам — и наслаждайтесь результатом долгие годы!";
}

.index-divdob {
    font-family: "Montserrat", sans-serif;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    padding: 2vh;
    color: #fff;
}

.inf-ugol {
    align-self: center;
}

.inf-ugol h2 {
    font-size: 3vh;
}

.index-photo {
    background-image: url('/static/base/img/photo-index.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.index-gen {
    width: 70%;
    margin-left: 30vh;
}

.index-div-photo1 {
    width: 30vw;
    height: 10vh;
    margin-left: 19vw;
    margin-top: 2vh;
    display: flex;
    filter: drop-shadow(0 0 0.03rem white);
    position: absolute;
}

.index-div-photo1 p {
    letter-spacing: 0.1em;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    position: fixed;
    border: 2px solid #fff;
    margin-left: 67vw;
    font-size: 5vh;
    padding: 3vh;
    font-weight: 600;
    border-radius: 1vh;
    align-self: center;
}

.index-div-photo2 {
    width: 30vw;
    height: 10vh;
    margin-left: 60vw;
    margin-top: 80vh;
    display: flex;
    position: absolute;
}

.index-div-photo2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
    color: #fff;
    justify-content: center;
    align-self: center;
}

.photo-div1 {
    background-image: url('/static/base/img/pod-div1.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.inf-ugol {
    padding-bottom: 1vh;
    border-bottom: #fff solid 1px;
}

.index-divdob1 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob1-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob1-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob1-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob1-photo img {
    height: 40vh;
    width: 25vw;
}

.index-divdob1:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob2 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob2-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob2-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob2-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob2-photo img {
    height: 40vh;
    width: 25vw;
}

.index-divdob2:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob3 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob3-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob3-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob3-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob3-photo img {
    height: 40vh;
    width: 25vw;
}

.index-divdob3:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.index-divdob4 {
    transition: all 0.8s ease;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.index-divdob4-txt {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 45vw;
    height: auto;
    padding: 2vh;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    border-left: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

.index-divdob4-txt h2 {
    font-weight: 600;
    font-size: 3vh;
    align-self: center;
}

.index-divdob4-txt p {
    margin-top: 10vh;
    align-self: center;
    font-size: 2.5vh;
}

.index-divdob4-photo img {
    height: 40vh;
    width: 25vw;
}

.index-divdob4:hover {
    transform: scale(1.02);
    background-color: #1C1C1C;
    cursor: pointer;
}

.div-znach h3 {
    text-align: center;
    font-size: 3vh;
}

.znach4 {
    display: flex;
    font-family: "Montserrat", sans-serif;
    transition: all 0.7s ease;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
}

.div-znach {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-znach p {
    line-height: 1.5;
    font-size: 2vh;
}

.index-gen {
    font-family: "Montserrat", sans-serif;
}

.svyaz {
    display: flex;
    margin-bottom: 10vh;
}

.imgvan img {
    height: 50vw;
    width: 40vw;
    border-radius: 10%;
    position: relative;
    margin-top: 7vh;
    margin-left: 5vw;
}

.form1 {
    display: flex;
    margin-top: 7vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form1 input {
    background-color: black;
    color: #fff;
    border: none;
    border-bottom: #fff solid 1px;
}

.form1 input {
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.form1 #txt {
    height: 30vh;
    border: #fff solid 1px;
    background-color: #000;
    color: #fff;
}

.labelf1 {
    color: #fff;
    font-size: 2vh;
    font-family: Montserrat, sans-serif;
}

.inputf1 {
    width: 20vw;
    font-size: 2vh;
    padding: 1vh;
}

.form1 textarea {
    margin-top: 1vh;
}

.butform1 {
    transition: all 0.3s ease;
    font-size: 2.2vh;
}

.formasvyazi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-top: 20vh;
}

.butform1:hover {
    color: #777777;
    transform: scale(1.03);
}

.inputf1:focus::placeholder {
    color: transparent;
}

.inputf1:focus {
    outline: none;
}

.inputf1::placeholder{
    font-size: 2vh;
}

.txt-footer p {
    font-size: 1.5vh;
    margin-bottom: 0;
    filter: opacity(0.6);
    line-height: 0.6;
}

.txt-footer p:first-child {
    margin-top: 3vh;
}

.txt-footer p:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.found-photo {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
    url('/static/base/img/foundgen.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.h3found-index {
    color: #fff;
    border: 3px solid #fff;
    font-family: Montserrat, sans-serif;
    font-size: 20vh;
    font-weight: 700;
    margin-left: 32vw;
    margin-top: 40vh;
    padding: 3vh;
    position: absolute;
}

.pfound-index {
    color: #fff;
    border-bottom: 3px solid #fff;
    font-family: Montserrat, sans-serif;
    font-size: 3vh;
    font-weight: 400;
    margin-left: 75vw;
    margin-top: 70vh;
    padding: 3vh;
    position: absolute;
}

.onas-gen1 {
    position: relative;
    height: 430vh;
}

.o-nas-gen {
    display: flex;
    filter: drop-shadow(0 0 0.40rem white);
    height: 70vh;
    width: 60vw;
    opacity: 0.7;
    margin-left: 15vw;
    border-radius: 0.5vw;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    margin-top: 5vh;
    padding: 3vh;
}

.o-nas-gen h3 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 10vh;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}

.o-nas-gen p {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 3vh;
    font-weight: 300;
}

.o-nas-photo1 {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)),
    url('/static/base/img/onas-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 40vw;
    border-radius: 0.5vw;
    position: absolute;
    display: block;
    margin-top: 45vh;
    margin-left: 45vw;
    filter: grayscale(50%);
}

.missiya {
    display: block;
    position: absolute;
    padding: 3vh;
    width: 34vw;
    margin-left: 12vw;
    margin-top: 80vh;
}

.missiya h3, p {
    color: #fff;
    font-family: Montserrat, sans-serif;
}

.o-nas-photo2 {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
    url('/static/base/img/onas-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 30vw;
    position: absolute;
    display: block;
    border-radius: 0.5vw;
    margin-top: 116vh;
    margin-left: 13vw;
}

.onas-uslugi {
    display: flex;
    position: absolute;
    padding: 3vh;
    width: 34vw;
    margin-left: 50vw;
    margin-top: 117vh;
    flex-direction: column;
}

.onas-uslugi h3, p, li{
    color: #fff;
    font-family: Montserrat, sans-serif;
}

.onas-uslugi h3 {
    align-self: center;
    font-weight: 500;
    font-size: 5vh;
    padding: 3vh;
}

.onas-uslugi p, li {
    font-weight: 300;
    font-size: 2.3vh;
}

.primeri {
    display: flex;
    flex-direction: column;
    margin-top: 195vh;
    margin-left: 17vw;
    position: absolute;
    height: 60vh;
    width: 66vw;
}

.primeri h3 {
    font-family: Montserrat, sans-serif;
    font-size: 5vh;
    padding: 3vh 1vw 1vh 1vw;
    margin-bottom: 2vh;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    align-self: center;
}

.foto-primerov {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60vh;
    width: 66vw;
}

.foto-primerov img {
    height: 40vh;
    border-radius: 0.5vh;
    border: 1px solid #fff;
    width: 20vw;
    margin: 1vw;
}

.map {
    width: 70vw;
    height:80vh;
    position: absolute;
    margin-top: 345vh;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    border-top: 1px solid #fff;
}

#map-google {
    filter: drop-shadow(0 0 0.40rem white);
    height: 60vh;
    width: 70vw;
}

.map h3 {
    color: #fff;
    margin-bottom: 5vh;
    align-self: center;
    padding-top: 5vh;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 5vh;
}

.otstup {
    height: 7vh;
}

.cont {
    width: 40vw;
    height: 7vh;
    margin-left: 30vw;
    background-color: #fff;
    display: flex;
    margin-bottom: 10vh;
    border-radius: 1vw;
    flex-direction: column;
    filter: drop-shadow(0 0 0.2rem white);
}

.cont h3 {
    align-self: center;
    justify-self: center;
    font-family: Montserrat, sans-serif;
    padding: 1vh;
    font-size: 4vh;
    font-weight: 550;
    color: #000;
}

.santehnik {
    width: 50vw;
    margin-left: 25vw;
    height: 45vh;
    background-color: #f8f8f8;
    margin-bottom: 10vh;
    border-radius: 1vw;
    padding: 2vh;
    background-image: url('/static/base/img/santehnik.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    border: 1px solid #fff
}

.santehnik h3 {
    align-self: center;
    font-family: Montserrat, sans-serif;
    font-size: 4vh;
    margin-top: 2vh;
    font-weight: 550;
    background-image: linear-gradient(to left, #777777, #fff);
    opacity: 0.8;
    color: #000;
}

.santehnik:hover {
    filter: drop-shadow(0 0 0.75rem #fff);
    transform: scale(1.01);
}

.santehnik p {
    font-family: Montserrat, sans-serif;
    font-size: 3vh;
    font-weight: 400;
    opacity: 0.9;
    margin: 5vh 0 3vh 0;
    align-self: flex-start;
    color: #000;
}

.stariybog {
    width: 50vw;
    margin-left: 25vw;
    height: 45vh;
    background-color: #f8f8f8;
    margin-bottom: 10vh;
    border-radius: 1vw;
    padding: 2vh;
    background-image: url('/static/base/img/stariyboh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    border: 1px solid #fff
}

.stariybog:hover {
    filter: drop-shadow(0 0 0.75rem limegreen);
    transform: scale(1.01);
}

.stariybog h3 {
    align-self: center;
    font-family: Montserrat, sans-serif;
    font-size: 4vh;
    margin-top: 2vh;
    font-weight: 550;
    padding: 0.5vw;
    color: #fff;
}

.stariybog p {
    font-family: Montserrat, sans-serif;
    font-size: 3vh;
    font-weight: 500;
    margin: 2vh 0 2vh 0;
    align-self: flex-start;
    color: #fff;
    opacity: 0.7;
}

.support-gen {
    height: 55vh;
}

.ques {
    width: 50vw;
    height: 4vh;
    margin-left: 25vw;
    margin-top: 5vh;
    position: absolute;
    background-color: #fff;
    display: flex;
    margin-bottom: 10vh;
    border-radius: 1vw;
    flex-direction: column;
    filter: drop-shadow(0 0 0.3rem white);
}

.ques h3 {
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-family: Montserrat, serif;
    font-weight: 550;
    color: #000;
    font-size: 3vh;
}

.sup1 {
    position: absolute;
    margin: 20vh 0 10vh 30vw;

}

.form-sup {
    display: flex;
    flex-direction: column;
}

.labelfsup{
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    align-self: center;
}

.inputfsup {
    width: 40vw;
    margin-top: 2vh;
    border-radius: 0.4vh;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 0.8vh;
    font-family: Montserrat, sans-serif;
    filter: drop-shadow(0 0 0.1rem snow);
}

.inputfsup:focus::placeholder {
    color: transparent;
}

.inputfsup:focus {
    outline: none;
    font-family: Montserrat, sans-serif;
}

.butfsup {
    font-family: Montserrat, sans-serif;
    font-size: 2vh;
    font-weight: 500;
    filter: drop-shadow(0 0 0.1rem snow);
    width: 8vw;
    height: 5vh;
    margin-top: 3vh;
    align-self: center;
    border-radius: 0.4vh;
}

.fund-gen {
    height: 600vh;
}

.fund-ques {
    margin: 5vh 0 3vh 30vw;
    width: 40vw;
    justify-content: center;
    height: 6vh;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    filter: drop-shadow(0 0 0.2rem snow);
}

.fund-ques h3 {
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-weight: 550;
    font-family: Montserrat, sans-serif;
}

.fund1 {
    margin: 5vh 0 5vh 17vw;
    border: 1px solid #fff;
    width: 66vw;
    height: 60vh;
    background-image: url('/static/base/img/fund.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fundp1 {
    margin: 7vh 0 3vh 15vw;
    width: 70vw;
}

.fundp1 p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

.fundat1 {
    display: flex;
    flex-direction: row;
}

.fundaat1 {
    display: flex;
    flex-direction: column;
    margin: 10vh 0 3vh 15vw;
    justify-content: center;
    width: 30vw;
}

.fundaat1 h1, p, ol li {
    font-family: Montserrat, sans-serif;
    color: #fff;
}

.fundaat1 h1 {
    font-size: 4.2vh;
    font-weight: 400;
    align-self: center;
}

.fundaat1 p {
    font-size: 2.2vh;
    margin: 1vw;
}

.fundaat1 ol li {
    font-size: 2.4vh;
}

.fundf1 {
    width: 35vw;
    height: 35vw;
    background-image: url('/static/base/img/fund1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10vh 0 5vh 3vw;
    border: 1px solid #fff;
    border-radius: 1vw;
}

@media (max-width: 480px) {
    header {
        margin-top: 2vh;
        margin-left: 2vw;
        filter: drop-shadow(0 0 0.02rem white);
        height: 10vh;
        width: 96vw;
        display: flex;
        border-radius: 2vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ul-gen {
        flex-direction: row;
        display: flex;
        width: 90%;
        align-items: center;
        padding-top: 5vh;
        justify-content: space-between;
    }

    header p {
        font-size: 1.8vh;
    }

    .logo-left {
        display: none;
    }

    .index-div-photo1 {
        display: none;
    }

    .index-div-photo1 p {
        display: none;
    }

    footer {
        margin-left: 5vw;
        margin-top: auto;
        width: 90vw;
        display: flex;
        justify-content: center;
        border-top: #fff solid 1px;
    }

    .ind-div4::after {
        content: "Мы всегда готовы ответить на любые ваши вопросы и помочь в реализации вашего проекта. Мы обеспечим профессиональный подход на всех этапах работы";
    }

    .index-div4 {
        width: 90vw;
        padding: 0;
    }

    .index-div4 h2 {
        font-size: 3.5vh;
        margin-top: -4vh;
    }

    .znach4 {
        display: none;
    }

    .txt-footer {
        font-size: 1.5vh;
        margin-bottom: 0;
        filter: opacity(0.6);
        line-height: 1;
    }

    .index-div-photo2 {
        margin-left: 55vw;
    }

    .index-div-photo2 p {
        font-size: 2.4vh;
    }

    .index-gen {
        width: 90%;
        margin-left: 5%;
    }

    .inddiv11 {
        width: 50%;
        height: 40vh;
    }

    .inddiv11 h2 {
        font-size: 5vh;
    }

    .inddiv12 {
        width: 50%;
        height: 40vh;
        padding: 1vh;
    }

    .inddiv12 p {
        font-size: 2.2vh;
    }

    .inddiv12 p::after {
        content: "Мы — строительная компания с многолетним опытом, предоставляющая полный спектр строительных и ремонтных услуг.";
    }

    .index-divdob1-txt {
        width: 45vw;
        padding: 1vw;
    }

    .index-divdob1-txt h2 {
        font-weight: 600;
        font-size: 1.6vh;
        padding: 1.5vw;
    }

    .index-divdob1-txt p {
        margin-top: 1vh;
        font-size: 1.6vh;
    }

    .index-divdob1-photo img {
        height: 25vh;
        width: 25vh;
    }

    .index-divdob2-txt {
        width: 45vw;
        padding: 1vw;
    }

    .index-divdob2-txt h2 {
        font-weight: 600;
        font-size: 1.6vh;
        padding: 1.5vw;
    }

    .index-divdob2-txt p {
        margin-top: 1vh;
        font-size: 1.6vh;
    }

    .index-divdob2-photo img {
        height: 25vh;
        width: 25vh;
    }

    .index-divdob3-txt {
        width: 45vw;
        padding: 1vw;
    }

    .index-divdob3-txt h2 {
        font-weight: 600;
        font-size: 1.6vh;
        padding: 1.5vw;
    }

    .index-divdob3-txt p {
        margin-top: 1vh;
        font-size: 1.6vh;
    }

    .index-divdob3-photo img {
        height: 25vh;
        width: 25vh;
    }

    .index-divdob4-txt {
        width: 45vw;
        padding: 1vw;
    }

    .index-divdob4-txt h2 {
        font-weight: 600;
        font-size: 1.6vh;
        padding: 1.5vw;
    }

    .index-divdob4-txt p {
        margin-top: 1vh;
        font-size: 1.6vh;
    }

    .index-divdob4-photo img {
        height: 25vh;
        width: 25vh;
    }

    .index-div3 {
        margin-top: 10vh;
        padding-bottom: 5vh;
        padding-top: 10vh;
    }

    .index-div3 h2 {
        align-self: center;
        margin-top: -7vh;
        font-size: 3.5vh;
    }

    .photo-div3 img {
        display: none;
    }

    .limyi {
        margin-bottom: 3.5vh;
        max-width: 90%;
        border-bottom: #262626 solid 2px;
    }

    .limyi p {
        max-width: 90vw;
        font-size: 1.7vh;
        opacity: 60%;
        margin-bottom: 2vh;
    }

    .limyi h3 {
        margin-bottom: 2vh;
        font-weight: 500;
        font-size: 2.7vh;
    }

    .imgvan img {
        display: none;

    }

    .svyaz {
        display: block;
        width: 90%;
        margin-bottom: 2vh;
    }

    .form1 {
        margin-top: 5vh;
        width: 90%;
    }

    .form1 input {
        margin-bottom: 5vh;
        margin-top: 1vh;
    }

    .form1 #txt {
        height: 20vh;
    }

    .labelf1 {
        color: #fff;
        font-size: 2vh;
        font-family: Montserrat, sans-serif;
    }

    .inputf1 {
        width: 90vw;
        font-size: 2vh;
    }

    .form1 textarea {
        margin-top: 1vh;
    }

    .butform1 {
        font-size: 2.2vh;
    }

    .formasvyazi {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
    }

    .butform1:hover {
        color: #777777;
        transform: scale(1.03);
    }

    .inputf1:focus::placeholder {
        color: transparent;
    }

    .inputf1:focus {
        outline: none;
    }

    .inputf1::placeholder{
        font-size: 2vh;
    }

    .o-nas-gen {
        background-color: #1C1C1C;
        height: 40vh;
        width: 60vw;
        opacity: 0.7;
        margin-left: 15vw;
        border-radius: 2vw;
        margin-top: 15vh;
        padding: 3vh;
    }

    .o-nas-gen h3 {
        font-size: 5vh;
        align-items: center;
        color: #fff;
        font-weight: 500;
        justify-content: center;
    }

    .o-nas-gen p {
        font-size: 1.8vh;
        color: #fff;
        font-weight: 300;
    }

    .o-nas-photo1 {
        height: 20vh;
        width: 50vw;
        border-radius: 2vw;
        display: block;
        margin-top: 50vh;
        margin-left: 45vw;
        filter: grayscale(50%);
    }

    .missiya {
        display: block;
        padding: 3vh;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 62vh;
    }

    .missiya h3 {
        color: #fff;
        width: 30vw;
        font-family: Montserrat, sans-serif;
        font-size: 3vh;
    }

    .missiya p {
        color: #fff;
        margin-top: 2vh;
        font-family: Montserrat, sans-serif;
        font-size: 2vh;
    }

    .o-nas-photo2 {
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)),
        url('/static/base/img/onas-2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 70vh;
        width: 45vw;
        border-radius: 2vw;
        margin-top: 105vh;
        margin-left: 5vw;
    }

    .onas-uslugi {
        width: 34vw;
        margin-left: 50vw;
        margin-top: 100vh;
    }

    .onas-uslugi h3, p, li{
        color: #fff;
        font-family: Montserrat, sans-serif;
    }

    .onas-uslugi h3 {
        align-self: center;
        font-weight: 500;
        font-size: 3vh;
        margin-left: 10vw;
        width: 50vw;
        margin-bottom: 0;
    }

    .onas-uslugi p, li {
        font-weight: 300;
        font-size: 1.7vh;
        width: 40vw;
        margin-bottom: 0.5vh;
    }
    .onas-uslugi li {
        margin-left: -7vw;
    }

    .primeri {
        margin-top: 175vh;
        margin-left: 5vw;
        position: absolute;
        height: 60vh;
        width: 90vw;
    }

    .primeri h3 {
        font-family: Montserrat, sans-serif;
        font-size: 3vh;
        padding: 3vh 1vw 1vh 1vw;
        margin-bottom: 2vh;
        color: #fff;
        font-weight: 500;
        border-bottom: 1px solid #fff;
        align-self: center;
    }

    .foto-primerov {
        flex-direction: row;
        height: 60vh;
        width: 90vw;
    }

    .foto-primerov img {
        height: auto;
        border-radius: 2vw;
        border: 1px solid #fff;
        width: 28vw;
        margin: 1vw;
    }

    .map {
        width: 90vw;
        height:80vh;
        position: absolute;
        margin-top: 255vh;
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        border-top: 1px solid #fff;
    }

    #map-google {
        filter: drop-shadow(0 0 0.40rem white);
        height: 50vh;
        width: 90vw;
    }

    .map h3 {
        margin-bottom: 5vh;
        align-self: center;
        padding-top: 2vh;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 3vh;
    }

    .onas-gen1 {
        position: relative;
        height: 325vh;
    }

    .otstup {
       height: 15vh;
    }

    .cont {
        width: 70vw;
        height: 7vh;
        margin-left: 15vw;
        margin-bottom: 5vh;
        border-radius: 2vw;
        filter: drop-shadow(0 0 0.15rem white);
    }

    .cont h3 {
        padding: 1.5vh;
        font-size: 3vh;
    }

    .santehnik {
        width: 90vw;
        margin-left: 5vw;
        height: 45vh;
        margin-bottom: 7vh;
        border-radius: 2vw;
        padding: 2vh;
        filter: drop-shadow(0 0 0.2rem #fff);
        transform: scale(1.01);
    }

    .santehnik:hover {
        filter: drop-shadow(0 0 0.2rem #fff);
        transform: scale(1.01);
    }

    .santehnik h3 {
        font-size: 3vh;
        margin-top: 2vh;
        font-weight: 550;
        background-image: linear-gradient(to left, #777777, #fff);
        opacity: 0.8;
    }

    .santehnik p {
        font-size: 2.7vh;
        background-image: linear-gradient(to left, #777777, #fff);
        opacity: 0.8;
        margin: 5vh 0 3vh 0;
    }

    .stariybog {
        width: 90vw;
        margin-left: 5vw;
        height: 45vh;
        background-color: #f8f8f8;
        margin-bottom: 7vh;
        border-radius: 2vw;
        padding: 2vh;
        background-image: url('/static/base/img/stariyboh.png');
        transition: all 0.5s ease;
        border: 1px solid #fff;
        filter: drop-shadow(0 0 0.2rem limegreen);
        transform: scale(1.01);
    }

    .stariybog:hover {
        filter: drop-shadow(0 0 0.2rem limegreen);
        transform: scale(1.01);
    }

    .stariybog h3 {
        align-self: center;
        font-family: Montserrat, sans-serif;
        font-size: 3vh;
        margin-top: 2vh;
        font-weight: 550;
        padding: 0.5vw;
        color: #fff;
    }

    .stariybog p {
        font-family: Montserrat, sans-serif;
        font-size: 3vh;
        font-weight: 500;
        margin: 2vh 0 2vh 0;
        align-self: flex-start;
        color: #fff;
        opacity: 0.7;
    }

    .support-gen {
        height: 67vh;
    }

    .ques {
        width: 90vw;
        height: 9vh;
        margin-left: 5vw;
        margin-top: 15vh;
        padding: 1vw 0 1vw 3vw;
        margin-bottom: 10vh;
        border-radius: 2vw;
        filter: drop-shadow(0 0 0.2rem white);
    }

    .ques h3 {
        font-size: 3vh;
    }

    .sup1 {
        margin: 30vh 0 10vh 5vw;
    }

    .labelfsup{
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-weight: 450;
        font-size: 3vh;
        align-self: center;
    }

    .inputfsup {
        width: 90vw;
        border-radius: 2vw;
        padding: 1vw;
        filter: drop-shadow(0 0 0.0.5rem snow);
    }

    .butfsup {
        font-size: 2.3vh;
        font-weight: 450;
        width: 30vw;
        border-radius: 2vw;
    }
}